@model Social.WebUI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}


<div class="row">
    
        <div class="label label-info"><h2 class="col-md-4 col-md-offset-1">You're logged in as: <strong>@User.Identity.Name</strong></h2></div> 
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-1">
        @if (ViewBag.HasLocalPassword)
		{
		    @Html.Partial("_ChangePasswordPartial")
		}		
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
