body{
    background: url(../Images/body.jpeg) no-repeat center fixed;
    background-size: cover;
    color: white;
}

header{
    background: black;
    opacity: 0.8;
    padding: 20px;
}

a.header-title{
    font-size: 50px;
    text-decoration: none;
    
}

a.header-title:hover{
    text-decoration: none;    
}

.title{
    padding: 40px 0 0 0;
    font-size: 30px;
}

#btn-logout{
    color:white;
}
.user-name{
    margin: 5px 0 0 10px;
}